span {
    width: 300px;
    height: 300px;
    display: block;
    margin-bottom: 10px;
    background-color: rgb(110, 107, 107);
    padding: 20px;
}
.border-box {
    box-sizing: border-box;
}
.border-added {
    border: 10px solid black;
    
}